{% extends "layout.html" %}

{% block title %}
    View Menu
{% endblock %}

{% block main %}
    <h1>Menu for {{ restaurant_name }}</h1>
    <form action="/confirm_order" method="post">
        <table class = "table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu_items %}
                    <tr>
                        <td>{{ item.item_name }}</td>
                        <td>₹{{ item.price }}</td>
                        <td>
                            <input type="number" name="quantity-{{ item.id }}" min="0" value="0" style="width: 50px;">
                            <input type="hidden" name="price-{{ item.id }}" value="{{ item.price }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="restaurant_id" value="{{ restaurant_id }}">
        <input type="submit" value="Place Order" class="btn btn-primary">
    </form>
{% endblock %}
