{% extends "layout.html" %}

{% block title %}
    Order Confirmation with Offers
{% endblock %}

{% block main %}
    <h1>Order Confirmation</h1>
    <p>Order ID: {{ order_id }}</p>

    <table class = "table">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price per Item</th>
            <th>Offer Price</th>
            <th>Total Price</th>
        </tr>
        {% for item in order_details %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.item_price }}</td>
            <td>₹{{ item.offer_price }}</td>
            <td>₹{{ item.total_item_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4"><strong>Order Total:</strong></td>
            <td><strong>₹{{ total_cost }}</strong></td>
        </tr>
    </table>
    <p>Estimated Delivery Time: {{ order_details[0].estimated_delivery_time }}</p>
    <p>Delivery Address: {{ order_details[0].delivery_address }}</p>
{% endblock %}

