{% extends "layout.html" %}

{% block title %}
Order Confirmation
{% endblock %}

{% block main %}
<h1>Order Confirmation</h1>
<p>Thank you for your order! Here are the details of your order (ID: {{ order_id }}):</p>

<table class ="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price per Item</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_details %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.price }}</td>
            <td>₹{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Total Cost: ₹{{ total_cost }}</p>
<p>Estimated Delivery Time: {{ order_details[0].estimated_delivery_time }}</p>
<p>Delivery Address: {{ order_details[0].delivery_address }}</p>

<a href="/">Return to Home</a>
{% endblock %}
